body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #edf4f7;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #edf4f7;
}

/* Suppression des styles auth-left qui contenait l'image */

/* Blob de couleur en arrière-plan */
.color-blob {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  /*background-color: #125be1;*/
  top: -200px;
  right: -100px;
  opacity: 0.7;
  z-index: 0;
}

/* Nouvelle classe pour la carte centrée */
.auth-card-centered {
  background-color: #fffefe;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  z-index: 1;
  position: relative;
}

.auth-card-centered h2 {
  color: #125be1;
  margin-bottom: 10px;
  text-align: center;
}

.auth-card-centered .form-control {
  border-radius: 60px;
  border: 1px solid #4c4c4c;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 0.9rem;
}

.auth-card-centered .btn-primary {
  background-color: #125be1;
  border: none;
  padding: 5px;
  border-radius: 60px;
  width: 100%;
  color: #fffefe;
  font-size: 0.9rem;
}

.auth-card-centered .btn-primary:hover {
  background-color: #193870;
}

.auth-card-centered .btn-link {
  color: #125be1;
  text-decoration: underline;
  font-size: 0.8rem;
}

.auth-card-centered .btn-link:hover {
  text-decoration: underline;
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.separator-line {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

.separator-text {
  padding: 0 10px;
  color: #888;
  font-size: 14px;
}

.social-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style pour le bouton Facebook */
.btn-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre l'icône et le texte */
  background-color: #ffffff; /* Couleur de fond bleue Facebook */
  color: #166fe5; /* Texte blanc */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Largeur du bouton */
  max-width: 300px; /* Largeur maximale */
  margin: 0 auto; /* Centrer le bouton */
}

/* Style au survol */
.btn-facebook:hover {
  background-color: #166fe5; /* Une nuance plus foncée de bleu */
}

/* Style de l'icône */
.btn-facebook i {
  font-size: 20px;
  color: #fff; /* Icône blanche */
}

/* Style du texte */
.btn-facebook span {
  font-weight: 500; /* Texte en gras */
}

.reset-logo2 {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin-top: 5px; /* Espacement depuis le haut */
  margin-bottom: 0px; /* Espacement depuis le bas */
}
.reset-logo2 img {
  width: 100px;
  height: auto;
}
