body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #edf4f7;
}

.auth-container {
  display: flex;
  height: 100vh;
}

.auth-left {
  flex: 1;
  background-color: #125be1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefe;
  padding: 20px;
}

.auth-left img {
  max-width: 100%;
  height: auto;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #125be1;
}

.auth-card {
  background-color: #fffefe;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.auth-card h2 {
  color: #2653a4;
  margin-bottom: 20px;
  text-align: center;
}

.auth-card .form-control {
  border-radius: 60px;
  border: 1px solid #4c4c4c;
  padding: 10px;
  margin-bottom: 15px;
}

.auth-card .btn-primary {
  background-color: #125be1;
  border: none;
  padding: 10px;
  border-radius: 60px;
  width: 100%;
  color: #fffefe;
}

.auth-card .btn-primary:hover {
  background-color: #193870;
}

.auth-card .btn-link {
  color: #2653a4;
  text-decoration: none;
}

.auth-card .btn-link:hover {
  text-decoration: underline;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-login .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #4c4c4c;
  background-color: #fffefe;
  color: #4c4c4c;
}

.social-login .btn:hover {
  background-color: #edf4f7;
}

/* Style pour le bouton Facebook */
.btn-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre l'icône et le texte */
  background-color: #1877f2; /* Couleur de fond bleue Facebook */
  color: #fff; /* Texte blanc */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Largeur du bouton */
  max-width: 300px; /* Largeur maximale */
  margin: 0 auto; /* Centrer le bouton */
}

/* Style au survol */
.btn-facebook:hover {
  background-color: #166fe5; /* Une nuance plus foncée de bleu */
}

/* Style de l'icône */
.btn-facebook i {
  font-size: 20px;
  color: #fff; /* Icône blanche */
}

/* Style du texte */
.btn-facebook span {
  font-weight: 500; /* Texte en gras */
}
