/* Fond dégradé pour la moitié de la page */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background: linear-gradient(to bottom, #125be1 60%, #edf4f7 50%);
}

/* Carte pour le formulaire */
.register-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/* Titre du formulaire */
.register-title {
  color: #dc3545;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Styles pour les champs du formulaire */
.register-form input,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #4c4c4c;
  border-radius: 60px;
  font-size: 0.8rem;
}

.register-form input[type="file"] {
  border: none;
  border-radius: 0;
}

/* Bouton de soumission */
.register-form button {
  background-color: #125be1;
  border: none;
  padding: 10px;
  border-radius: 60px;
  width: 100%;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
}

.register-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Style pour le reCAPTCHA */
.register-form .recaptcha {
  margin: 20px 0;
}

/* Message d'erreur ou de succès */
.register-message {
  margin-top: 15px;
  font-size: 0.875rem;
  text-align: center;
}

.register-message.error {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 4px;
}

/* Style pour les messages d'erreur */
.error-message {
  color: #dc3545; /* Couleur rouge pour les erreurs */
  font-size: 0.875rem; /* Taille de police */
  margin-top: 15px; /* Espacement depuis l'élément précédent */
  text-align: center; /* Centrer le texte */
  padding: 10px; /* Espacement interne */
  background-color: #f8d7da; /* Fond légèrement rouge */
  border: 1px solid #f5c6cb; /* Bordure rouge */
  border-radius: 4px; /* Coins arrondis */
  width: 100%; /* Largeur maximale */
  max-width: 500px; /* Largeur maximale pour correspondre à la carte */
  margin: 0 auto 20px; /* Centrer horizontalement et ajouter une marge en bas */
}

.register-message.success {
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 5px;
  border-radius: 4px;
}

/* Styles pour les rangées de formulaire */
.form-row {
  display: flex;
  gap: 15px; /* Espace entre les champs */
  margin-bottom: 15px;
}

.form-group {
  flex: 1; /* Chaque groupe prend la moitié de l'espace */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #125be1;
}

/* Styles pour le lien de connexion */
.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #000000;
}

.login-link a {
  color: #125be1; /* Couleur du lien */
  text-decoration: underline;
}

.login-link a:hover {
  text-decoration: underline;
}
